In [1]:
import pandas as pd

def clean_operating_data(df, kode):
    df=df.iloc[:,0].str.split(';', expand=True)
    df.columns=df.iloc[3]
    df=df.iloc[47:-1]
    keep_list = ['NO1', 'NO2', 'NO3', 'NO4', 'NO5', 'NO6']

    df = df[df['Alias'].str.contains('|'.join(keep_list))]

    date_col = 'Dato'
    hour_cols = ['Time1',
           'Time2', 'Time3', 'Time4', 'Time5', 'Time6', 'Time7',
           'Time8', 'Time9', 'Time10', 'Time11', 'Time12', 'Time13', 'Time14',
           'Time15', 'Time16', 'Time17', 'Time18', 'Time19', 'Time20', 'Time21',
           'Time22', 'Time23', 'Time24']
    df.drop('Time3B', axis=1, inplace=True)
    df['Time3']=df['Time3A']

    # unpivot the hourly observation columns into two new columns: hour and value
    df_melted = pd.melt(df, id_vars=[date_col, 'Kode', 'Alias'], value_vars=hour_cols, var_name='hour', value_name='value')

    # replace hour values of 24 with 00
    df_melted['hour'] = df_melted['hour'].str.strip('Time').str.replace('^24', '00', regex=True)

    # combine the date and hour columns into a single datetime column
    df_melted['datetime'] = pd.to_datetime(df_melted[date_col] + ' ' + df_melted['hour'].str.strip('Time') + ':00:00', format='%d.%m.%Y %H:%M:%S')

    # drop the original date and hour columns, as well as any other unnecessary columns
    df_melted.drop(columns=[date_col, 'hour'], inplace=True)

    # sort the data by the datetime column
    df_melted.sort_values('datetime', inplace=True)

    pr = df_melted['Kode']==kode
    df_pr = df_melted[pr]

    # create a pivot table with Alias as columns and datetime as index, including all columns
    pivot_table = df_pr.pivot_table('value', 'datetime','Alias')
    
    return pivot_table

In [2]:
def combine_clean_data(list_of_tables, kode):
    
    # Initialize an empty list to store the cleaned tables
    list_of_clean_tables = []
    
    for i in list_of_tables:
        new_i = clean_operating_data(i, kode)
        # Append the cleaned table to the list of cleaned tables
        list_of_clean_tables.append(new_i)
        
    # Append the tables together
    combined_table = pd.concat(list_of_clean_tables, axis=0, ignore_index=False)
    
    return combined_table

In [3]:

import os

folder_path = '/Users/markuswiikjensen/Desktop/Master-Data/Operating data/2020'  # replace with the path to your folder
dfs = []  # initialize an empty list to store the DataFrames

for filename in os.listdir(folder_path):
    file_path = os.path.join(folder_path, filename)
    df = pd.read_csv(file_path, delimiter='\t', encoding='ISO-8859-1' )  # read the CSV file as a DataFrame
    dfs.append(df)  # append the DataFrame to the list

# print the list of DataFrames

In [4]:
pr1=combine_clean_data(dfs, 'PE')

/var/folders/qt/z8wfyvqx1l55qqc_y_5n83fc0000gn/T/ipykernel_14594/516874763.py:39: FutureWarning: Dropping invalid columns in DataFrameGroupBy.mean is deprecated. In a future version, a TypeError will be raised. Before calling .mean, select only columns which should be valid for the function.
  pivot_table = df_pr.pivot_table('value', 'datetime','Alias')

In [5]:

folder_path = '/Users/markuswiikjensen/Desktop/Master-Data/Operating data/2021'  # replace with the path to your folder
dfs = []  # initialize an empty list to store the DataFrames

for filename in os.listdir(folder_path):
    file_path = os.path.join(folder_path, filename)
    df = pd.read_csv(file_path, delimiter='\t', encoding='ISO-8859-1' )  # read the CSV file as a DataFrame
    dfs.append(df)  # append the DataFrame to the list

# print the list of DataFrames

In [6]:
pr2=combine_clean_data(dfs, 'PE')

/var/folders/qt/z8wfyvqx1l55qqc_y_5n83fc0000gn/T/ipykernel_14594/516874763.py:39: FutureWarning: Dropping invalid columns in DataFrameGroupBy.mean is deprecated. In a future version, a TypeError will be raised. Before calling .mean, select only columns which should be valid for the function.
  pivot_table = df_pr.pivot_table('value', 'datetime','Alias')

In [7]:
folder_path = '/Users/markuswiikjensen/Desktop/Master-Data/Operating data/2022'  # replace with the path to your folder
dfs = []  # initialize an empty list to store the DataFrames

for filename in os.listdir(folder_path):
    file_path = os.path.join(folder_path, filename)
    df = pd.read_csv(file_path, delimiter='\t', encoding='ISO-8859-1' )  # read the CSV file as a DataFrame
    dfs.append(df)  # append the DataFrame to the list

# print the list of DataFrames

In [8]:
pr3=combine_clean_data(dfs, 'PE')

/var/folders/qt/z8wfyvqx1l55qqc_y_5n83fc0000gn/T/ipykernel_14594/516874763.py:39: FutureWarning: Dropping invalid columns in DataFrameGroupBy.mean is deprecated. In a future version, a TypeError will be raised. Before calling .mean, select only columns which should be valid for the function.
  pivot_table = df_pr.pivot_table('value', 'datetime','Alias')

In [9]:
folder_path = '/Users/markuswiikjensen/Desktop/Master-Data/Operating data/2023'  # replace with the path to your folder
dfs = []  # initialize an empty list to store the DataFrames

for filename in os.listdir(folder_path):
    file_path = os.path.join(folder_path, filename)
    df = pd.read_csv(file_path, delimiter='\t', encoding='ISO-8859-1' )  # read the CSV file as a DataFrame
    dfs.append(df)  # append the DataFrame to the list

# print the list of DataFrames

In [10]:
pr4=combine_clean_data(dfs, 'PE')

/var/folders/qt/z8wfyvqx1l55qqc_y_5n83fc0000gn/T/ipykernel_14594/516874763.py:39: FutureWarning: Dropping invalid columns in DataFrameGroupBy.mean is deprecated. In a future version, a TypeError will be raised. Before calling .mean, select only columns which should be valid for the function.
  pivot_table = df_pr.pivot_table('value', 'datetime','Alias')

In [11]:
df=pd.concat([pr1,pr2,pr3,pr4], axis=0)
df.sort_index(ascending=True, inplace=True)

In [12]:
df.to_csv('da_production_prognosis.csv')

In [13]:
df

Alias                   NO1     NO2     NO3     NO4     NO5
datetime
2019-12-30 00:00:00  1951.0  4191.0  2106.0  1695.0  2621.0
2019-12-30 01:00:00  1760.0  3593.0  1919.0  1402.0  2572.0
2019-12-30 02:00:00  1745.0  3439.0  1914.0  1467.0  2526.0
2019-12-30 03:00:00  1743.0  3608.0  1904.0  1432.0  2483.0
2019-12-30 04:00:00  1745.0  3603.0  1913.0  1424.0  2485.0
...                     ...     ...     ...     ...     ...
2023-04-08 19:00:00   117.0   116.0    50.0   408.0    13.0
2023-04-08 20:00:00   122.0   118.0    57.0   401.0    13.0
2023-04-08 21:00:00   128.0   116.0    74.0   401.0    13.0
2023-04-08 22:00:00   133.0   114.0    97.0   405.0    13.0
2023-04-08 23:00:00   139.0   116.0   119.0   412.0    13.0

[28392 rows x 5 columns]